body {
	background: #cfd8dc;
}

.circle {
	border: 1px solid #999999;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border-radius: 50%;
	text-align: center;
	/*line-height: 50px;*/
	padding-top: 16px;
}

.stat {
	width: 30%;
	text-align: center;
	display: inline-block;
}

.stats {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

/* === CSS ADRIANA === */

/*form_login*/
.login-inline {
	width: 49%;
	display: inline-block;
	vertical-align: top;
}

.login-inline>fieldset {
	max-width: 400px;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.login-inline:first-child{
	border-right: 2px solid #ccc;
}

.p-form {
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
}

/*form_changeProfile*/
.input-spaced {
	margin: 10px 0;
}



/* === FIN CSS ADRIANA ===*/